*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
}
.hed_text {
    align-self: center;
}

.btn {
    align-self: flex-end;
    position: absolute;
    margin: 10px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-gap: 50px;
padding: 0px 50px 0px 50px;
}
.item img {
    height: 300px;
    width: 300px;

}
.item {
background-color: hotpink;
padding: 10px;
border-radius: 30px;
}

.user {
    background-color: hotpink;
padding: 10px;
border-radius: 30px;
width: 400px;
margin: 0 auto 20px;

}
.user img{
    height: 300px;
    width: 300px;
}

#block {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.655);
    padding: 10px;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    margin: 10px;
}